body {
  background-image: url("../../img/flower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header{
  text-align: center;
  font-size: 30px;
}

#check-poem {
  float: right;
  padding-right: 10%;
  font-size: 25px;

}
