body {
  background-image: url("../../img/flower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.all {
  float: right;
  text-align: right;
  margin-bottom: 20px;
}

.header{
  text-align: center;
  font-size: 40px;
}

#check-poem {
  font-size: 30px;
  margin-top: 10%;
}

.btn {
  background-color: #e2acb5;
}

.output {
  float: right;
  
}
